/* src/styles.css */
* {
	color: #fff;
}

body {
	font-family: Arial, sans-serif;
	background-color: #333;
}

.navbar {
	background-color: crimson;
	padding: 10px;
	color: white;
	text-align: center;
}

.navbar a {
	font-size: 16px;
	font-weight: bold;
	color: white;
	margin: 0 15px;
	text-decoration: none;
}

.pokemon-list {
	padding-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}

.pokemon-card {
	background: #666;
	padding: 20px;
	border-radius: 8px;
	width: 150px;
	text-align: center;
}

.pokemon-details {
	text-align: center;
}

.favorite-pokemon {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.pokemon-card a {
	text-decoration: none;
	color: tomato;
	background-color: #333;
	padding: 8px;
	border-radius: 5px;
}
.pokemon-card a:hover {
	background-color: #111;
}

ul {
	list-style-type: none;
}

li {
	font-size: 18px;
	color: tomato;
}

strong {
	color: aliceblue;
}

p {
	color: tomato;
}

.search-bar {
	padding-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-bar input {
	outline: none;
	font-size: 16px;
	padding: 10px;
	width: 300px;
	border: 1px solid #fff;
	border-radius: 5px;
	background-color: #999;
}

::placeholder {
	color: #fff;
	font-size: 16px;
}

button {
	padding: 8px;
	margin-left: 47px;
	color: #fff;
	border: 1px solid crimson;
	border-radius: 5px;
	background-color: darkred;
}

button:hover {
	background-color: rgb(199, 3, 3);
}

.loading_state {
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loading_state h1 {
	padding-left: 15px;
	font-size: 2rem;
	color: #999;
	animation: blinkText 2s infinite;
}

.loading_state img {
	width: 100px;
	animation: rotateX 2s infinite;
}

@keyframes rotateX {
	0% {
		transform: rotateX(0deg);
	}
	50% {
		transform: rotateX(180deg);
	}
	100% {
		transform: rotateX(360deg);
	}
}

@keyframes blinkText {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}
